<?xml version="1.0" ?>
<launch>
  <arg name="joypad_cfg_file" default="$(find mir_teleop_record)/ros/config/logitech.yaml"/>
  <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>

  <include file="$(find mir_hardware_config)/upload_param.launch" />
  <include file="$(find mir_default_robot_config)/upload_param.launch" />
    
  <node pkg="joy" type="joy_node" name="joy_node">
    <rosparam command="load" file="$(find mir_hardware_config)/$(arg robot)/config/joy.yaml"/>
  </node>

  <!-- start youbot teleop node -->
  <node pkg="mir_teleop_record" type="teleop_joypad_record_node" name="mir_teleop_joypad_record" output="screen">
    <rosparam command="load" file="$(arg joypad_cfg_file)"/>
    <rosparam command="load" file="$(find mir_hardware_config)/$(arg robot)/config/teleop.yaml"/>  
</node>

<!-- Transform for robocup aream displaying all the tables -->
  <node pkg="tf" type="static_transform_publisher" name="table_1" args="0.060, 0.865, 0.000, 0.000, 0.000, 0.010, 1.000 map table_1 100" />
  <node pkg="tf" type="static_transform_publisher" name="table_2" args="0.067, -0.874, 0.000,0.000, 0.000, 0.010, 1.000 map table_2 100" />
  <node pkg="tf" type="static_transform_publisher" name="table_3" args="3.776, 0.820, 0.000, 0.000, 0.000, 1.000, -0.01022 map table_3 100" />
  <node pkg="tf" type="static_transform_publisher" name="table_4" args="3.764, 0.001, 0.000, 0.000, 0.000, 1.000, -0.01022 map table_4 100" />
  <node pkg="tf" type="static_transform_publisher" name="table_5" args="3.774, -0.828, 0.000,0.000, 0.000, 1.000, -0.01022 map table_5 100" />
  <node pkg="tf" type="static_transform_publisher" name="table_6" args="1.863, 0.018, 0.000, 0.000, 0.000, 1.000, -0.02002 map table_6 100" />
  <node pkg="tf" type="static_transform_publisher" name="table_7" args="2.326, 0.025, 0.000, 0.000, 0.000, 0.020, 1.000 map table_7 100" />
  <!-- Transform publishing for objects on various tables -->
  <node pkg="tf" type="static_transform_publisher" name="object_1" args="3.776, 0.820, 0.000, 0.000, 0.000, 1.000, -0.01022 map object_1 100" />
  <!--
  <node pkg="tf" type="static_transform_publisher" name="object_1" args="0.060, 0.865, 0.000, 0.000, 0.000, 0.010, 1.000 map object_1 100" />
  <node pkg="tf" type="static_transform_publisher" name="object_1" args="1.863, 0.018, 0.000, 0.000, 0.000, 1.000, -0.02002 map object_1 100" />
  -->
</launch>
